.layout > header {
  width: 100%;
  height: 136px;
  display: flex;
  background-color: #243743;
}

.layout > header > img {
  margin: auto;
  width: 100px;
  height: auto;
}

.layout > article {
  display: flex;
}

.layout > article > aside {
  padding: 16px;
  width: 236px;
  height: calc(100vh - 136px);
  background-color: #8A949B;
}

.layout-aside > * {
  margin: 8px;
  display: block;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  transition: all .2s;
}

.layout-aside > *:hover {
  opacity: .5;
}

.layout > article >main {
  flex: 1;
}